body {
    background-color: rgb(255, 250, 242);
}

* {
    font-family: monospace;
    text-align: justify;
    text-align-last: center;
    margin: 10px;
}

.title {
    text-decoration: underline;
    text-decoration-style: wavy;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dashed;
}

.recipe-intro {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: rgb(227, 110, 149);
    text-align: center;
}

img {
    height: 500px;
    width: auto;
    border-style: solid;
    border-width: thin;
}

.ingredient-list {
    background-color: rgb(255, 205, 213);
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 2px;
    padding: 10px;
}

ul {
    list-style: none;
}

ul li:before {
    content:"✿";
    padding-right: 10px;
}