body {
    background-color: rgb(255, 250, 242);
    padding-left: 10%;
    padding-right: 10%;
}

/* text styling */
* {
    font-family: monospace;
    text-align: justify;
    text-align-last: center;
}

.title, h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    text-decoration: underline;
    text-decoration-style: wavy;
}

h3 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* image styling */

img {
    height: 500px;
    width: auto;
    border-style: solid;
    border-width: thin;
}

/* page elements styling */

.recipe-intro {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: rgb(227, 110, 149);
}

.ingredient-list, .steps {
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
    border-color: black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ingredient-list {
    background-color: rgb(255, 205, 213);
}


/* list styling */

ul {
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
}

ul li:before {
    content:"✿";
    padding-right: 10px;
}

ol {
    padding-left: 40px;
    padding-right: 20px;
}

/* link styling*/

a:link, a:visited{
    color:green;
}

a:hover {
    color: palevioletred;
}